<section class="as-seen-in">
  <h2>As Seen In</h2>
  <p>Trusted and featured across leading media outlets</p>

  <div class="logos">

    <ngx-slick-carousel class="" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let seen of seens" class="partner-card">
        <a href="{{seen.link}}" target="_blank">
          <div class="logo-card">
            <div class="logo-img">
              <img src="{{seen.logo}}" alt="{{seen.name}}" />
            </div>
            <span>{{seen.name}}</span>
          </div>
        </a>
      </div>
    </ngx-slick-carousel>
  </div>
</section>