<footer class="footer">
  <div class="footer-top">
    <!-- Logo + Description -->
    <div class="footer-brand">
      <div class="logo">
        <img [src]='logo' alt="" srcset="" class="logo">
      </div>
      <p>
        AI-powered token analysis for Solana. Scan, score, and share token
        insights to make smarter trading decisions and protect your investments.
      </p>

      <div class="socials">
        <a target="_blank" href="https://www.youtube.com/@ozarusbot/shorts" ><i class="fab fa-youtube"></i></a>
        <a target="_blank" href="https://fr.pinterest.com/ozarusbot/ozarus/"><i class="fab fa-pinterest"></i></a>
        <a target="_blank" href="https://soundcloud.com/ozarus "><i class="fab fa-soundcloud"></i></a>
        <a target="_blank" href="https://substack.com/@ozarus?utm_campaign=profile&utm_medium=profile-page ">
          <img src="/assets/images/substack.png" alt="">
        </a>
        <a target="_blank" href="https://t.me/ozarusbot"><i class="fab fa-telegram-plane"></i></a>
        <a target="_blank" href="https://x.com/ozarusbot?s=21&t=PMWqBIVxLqhs3drmYaYzMQ"><i class="fab fa-x-twitter"></i></a>
      </div>
    </div>

    <!-- Links -->
    <!-- <div class="footer-links">
      <div class="column">
        <h4>Product</h4>
        <ul>
          <li><a href="#">Token Scanner</a></li>
          <li><a href="#">API Access</a></li>
          <li><a href="#">Premium Features</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>

      <div class="column">
        <h4>Resources</h4>
        <ul>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Gitbook</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Status</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <p>© 2024 SolanaRadar. All rights reserved.</p>
    <div class="policies">
      <a routerLink="/privacy-policy">Privacy Policy</a>
      <a routerLink="/terms-conditions">Terms of Service</a>
      <!-- <a routerLink="#">Cookie Policy</a> -->
    </div>
  </div>
</footer>
