<section class="protect-trade">
  <h2>
    <span class="highlight">Protect Your Next Trade</span><br />
    In Seconds
  </h2>
  <br>
  <span class="sub_header">
    Don’t let another rugdivull catch you off guard. Join thousands of smart
    traders who scan before they buy.
  </span>
  <br>
  <br>
  <div class="actions">
    <button class="btn scan">
      <i class="fa-solid fa-magnifying-glass"></i> Scan a Token Free
    </button>

    <button class="btn secondary">
      <i class="fa-solid fa-rocket"></i> Start Free
    </button>
  </div>

  <div class="features">
    <span class="details"><img [src]='check_green' alt="Copy Icon" /> No credit card required</span>
    <span class="details"><img [src]='check_green' alt="Copy Icon" /> First scan completely free</span>
    <span class="details"><img [src]='check_green' alt="Copy Icon" /> Instant results</span>
  </div>
</section>
