.see-it {
  display: flex;
  text-align: center;
  padding: 3rem 1rem;
  background: rgb(14, 9, 51);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  p {
    color: #bbb;
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }

  .cards {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr); // tablette → 2 colonnes
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr; // mobile → 1 colonne
    }
  }

  .card {
    background: #0F172A;
    border: 1px solid #334155;
    border-radius: 0.75rem;
    padding: 1rem;
    color: white;
    text-align: left;
    transition: transform 0.3s ease;
    cursor: pointer;
    height: 294px;

    &:hover {
      transform: translateY(-4px);
    }

    img {
      width: 100%;
      height: 170px;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 14px;
      color: rgba(148, 163, 184, 1);
    }
  }
}
