<app-header></app-header>
<section class="glossary-page">
    <div class="container">
        <h1>We absolutely despise rug pulls.</h1>
        <h2>Glossary</h2>
        <p> You might already be familiar with some of these terms, but here's a quick guide to key vocabulary that's useful when spotting a potential rug pull:</p>
        <div class="row">
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid fa-clock'" [title]="'Age'" [text]="'How long the token has been in existence.'"></app-box>
            </div>
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid  fa-layer-group'" [title]="'Airdrops'" [text]="'Free token giveaways, usually for promotional purposes or as rewards.'"></app-box>
            </div>
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid fa-chart-line'" [title]="'ATH (All-Time High)'" [text]="'The highest price the token has ever reached.'"></app-box>
            </div>
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid fa-wallet'" [title]="'Bundle'" [text]="'Typically refers to a suspiciously grouped set of wallets or assets.'"></app-box>
            </div>
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid fa-fire'" [title]="'Burned'" [text]="'Tokens that have been permanently removed from circulation to decrease supply..'"></app-box>
            </div>
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid fa-euro-sign'" [title]="'Liq (Liquidity)'" [text]="'The pool of funds available for trading a token.'"></app-box>
            </div>
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid fa-building-columns'" [title]="'MC (Market Cap)'" [text]="'The total value of a cryptocurrency, calculated as price × supply.'"></app-box>
            </div>
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid fa-up-right-and-down-left-from-center'" [title]="'Mint'" [text]="'The function allowing the token creator to generate more tokens.'"></app-box>
            </div>
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid fa-list-ol'" [title]="'Top Ten'" [text]="'The ten largest token holders by wallet balance.'"></app-box>
            </div>
            <div class="col-sm-4">
                <app-box [icon]="'fa-solid fa-coins'" [title]="'Vol (Volume)'" [text]="'The total amount of trading activity for a token over a given time frame.'"></app-box>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>

