/* You can add global styles to this file, and also import other style files */
.slick-next
{
  right: 0px!important;
  z-index: 99;
}
.slick-prev {
  left: 0px!important;
  z-index: 99;
}
html {
  scroll-behavior: smooth;
}
.slick-dots li button::before
{
  color: #fff;
}